<div class="table" id="cabinet_table">
    <div id="cabinet_info">
        <h2>{{cabinet[0].name}}</h2>
        <p> email : {{cabinet[0].email}}</p>
        <p> telephone : {{cabinet[0].phone}}</p>
        <p> addresse : {{cabinet[0].address}}</p>
    </div>
    <div id="cabinet_btn">
        <button id="cabinetClass">consulter</button>
    </div>
</div>