<div class="table" id="cabinet_table">
    <div id="cabinet_info">
        <p>{{cabinet[0].name}}</p>
        <p>{{cabinet[0].email}}</p>
        <p>{{cabinet[0].phone}}</p>
        <p>{{cabinet[0].address}}</p>
    </div>
    <div id="cabinet_btn">
        <button id="cabinetClass">consulter</button>
    </div>
</div>