<div class="info-content">
<div class="info-button">
    <button id="info_delete" value={{message.id}}>Supprimer</button>
</div>

<table class="table table-hover">
  <tbody>
    <tr>
      <td>nom : {{message.name}} </td>
    </tr>
  </tbody>
</table>
</div>

{% include "partials/_confirm.html.twig" %}