<div class="confirm_content" hidden>
    <div class="confirm_popUp">
        {% if user is defined %}
          <p>Voulez-vous supprimer l'utilisateur ?</p>
        {% endif %}
        {% if recipe is defined %}
          <p>Voulez-vous supprimer la recette ?</p>
        {% endif %}
        {% if service is defined %}
          <p>Voulez-vous supprimer le service ?</p>
        {% endif %}
        {% if message is defined %}
          <p>Voulez-vous supprimer le message ?</p>
        {% endif %}

        <div class="confirm_btn">
            <a id="cancel">Annuler</a>
            {% if user is defined %}
              <a id="delete" href={{ path('delete_user', {userid: user.id}) }}>Supprimer</a>
            {% endif %}
            {% if recipe is defined %}
              <a id="delete" href={{ path('delete_recipe', {recipeid: recipe.id}) }}>Supprimer</a>
            {% endif %}
            {% if service is defined %}
              <a id="delete" href={{ path('delete_service', {serviceid: service.id}) }}>Supprimer</a>
            {% endif %}
            {% if message is defined %}
              <a id="delete" href={{ path('delete_message', {messageid: message.id}) }}>Supprimer</a>
            {% endif %}
        </div>
    </div>
</div>