<div class="confirm_content" hidden>
    <div class="confirm_popUp">
        <p>Voulez-vous supprimer l'utilisateur ?</p>
        <div class="confirm_btn">
            <a id="cancel">Annuler</a>
            <a id="delete" href={{ path('delete_user', {userid: user.id}) }}>Supprimer</a>
        </div>
    </div>
</div>