<footer>
    <div class="footer_left">
        <a href="/legalNotice"> MENTION LEGAL </a>
        <a href="/privacyPolicy"> POLITIQUE DE CONFIDENTIALITE </a>
    </div>

    <div class="footer_right">
        <a href="/message/set"> NOUS CONTACTER </a>
    </div>
</footer>