<header>

    <div class="header_left">
        <h2>NUTRI-SANTE</h2>
        <div class="link_left">
            <a href="/"> ACCUEIL </a>
            <a href="/contact"> NOUS CONTACTER </a>
        </div>
    </div>

    <div class="header_right">
        <a href="/admin"> ADMINISTRATION </a>
        <a href="/login"> Connexion </a>
    </div>

</header>