.admin_nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    height: 3rem;
    background-color: lightgrey;
    margin: auto;
    margin-top: 0.2rem ;
}
.admin_nav button {
    margin: auto 15%;
    padding: 0.6rem 3%;
    border: none;
    background-color: transparent;
}
