/*--- HEADER ---*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    background-color: #609A7D;
    position: fixed;
    top: 0;
}
.header_left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 50%;
}
.header_right { 
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 50%;
}
.link_left {
    display: flex;
    flex-direction: row;
    width: 70%;
}
header h1 {
    margin: auto 5%;
    width: 30%;
    font-size: 30px;
    color: #F3F3F7;
}
header a {
    margin: auto 5%;
    padding: 0.6rem 3%;
}
#icon_header {
    width: 2rem;
    height: 2rem;
    color: #F3F3F7;
}
#icon_header_logout {
    width: 2rem;
    height: 2rem;
    color: rgb(229, 132, 132);
}

/*--- FOOTER ---*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: #609A7D;
    bottom: 0;
    margin: 0;
}
.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
footer a {
    margin: auto;
    color: #F3F3F7;
}

@media screen and (max-width: 900px) {
/*--- HEADER ---*/
    header h1 {
        margin: auto 5%;
        width: 30%;
        font-size: 16px;
        color: #F3F3F7;
    }
    header h2 {
        font-size: 12px;
    }
    #icon_header {
        width: 1.5rem;
        height: 1.5rem;
    }

/*--- FOOTER ---*/
    footer a {
        font-size: 12px;
    }
}