.home_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
    height: 3rem;
    background-color: lightgrey;
    margin: auto;
    margin-top: 0.2rem ;
}
.home_nav button {
    margin: auto 5%;
    padding: 0.6rem 3%;
    border: none;
    background-color: transparent;
}
.title_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: auto; 
}
.pagination {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
}
.pagination input { 
    width: 5%;
    text-align: center;
    border: none;
}
.pagination p { 
    margin: auto 0;
    text-align: center;
}
.pagination button { 
    margin: 0 0.5rem;
}

.filter_search_content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1rem auto;
}
/*---- RECIPES LIST ----*/
.recipe_content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1rem auto;
    box-shadow: grey 1px 1px 6px 2px;
}
.recipe_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: lightgrey;
}
.recipe_header p {
    margin: 0.5rem 1rem;
}
.recipe_time {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
}
.recipe_time p{
    margin: 0.5rem 10%;
}
.recipe_diet, .recipe_allergen {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-bottom: 2px solid lightgrey;
}
.recipe_diet p, .recipe_allergen p {
    margin: 0.5rem 5%;
}
.recipe_description {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recipe_description p {
    margin: 1rem;
}
#recipe_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgrey;
}
#recipe_btn button {
    margin: 0.5rem auto;
}

/*---- SERVICE LIST ----*/
.service_content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2rem auto
}
.service_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: lightgrey;
}
.service_header h2 {
    margin: 0.5rem auto;
}
/*---- INFO CABINET ----*/
.info_cabinet {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2rem auto
}
.info_title {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: lightgrey;
}
.info_title h2 {
    margin: 0.5rem auto;
}
@media screen and (max-width: 900px) {
/*--- NAVIGATION ---*/
.home_nav {
    width: 100%;
}
.home_nav button {
    margin: auto 2%;
    padding: 0.6rem 3%;
    font-size: 14px;
}
.title_page {
    width: 100%;
}
.pagination {
    width: 100%;
}
.filter_search_content { 
    width: 100%;
}
/*---- RECIPE ----*/
.recipe_content {
    width: 100%;
}
/*---- SERVICE LIST ----*/
.service_content {
    width: 100%;
}
/*---- INFO CABINET ----*/
.info_cabinet {
    width: 100%;
}
    }