.home_nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
    height: 3rem;
    background-color: lightgrey;
    margin: auto;
    margin-top: 0.2rem ;
}
.home_nav button {
    margin: auto 5%;
    padding: 0.6rem 3%;
    border: none;
    background-color: transparent;
}

@media screen and (max-width: 900px) {
/*--- NAVIGATION ---*/
.home_nav {
    width: 100%;
}
.home_nav button {
    margin: auto 2%;
    padding: 0.6rem 3%;
    font-size: 14px;
}
    }