{% extends 'base.html.twig' %}

{# --- JAVASCRIPT --- #}
{% block javascripts %}
        <script src="{{ asset('script/admin_scriptttsssss.js') }}"></script>
{% endblock %}

{% block body %}
        {% block nav %}
            {% include "partials/admin/_admin_navigation.html.twig" %}
        {% endblock %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}

        <div class="admin_content">
            {% include "partials/admin/_gestion_page.html.twig" %}
        </div>
{% endblock %}
