{% extends 'base.html.twig' %}

{% block body %}
  <div class="legalNotice">
    <h1> MENTIONS LÉGALES </h1>
    
    <br><br>
    <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site Nutrisanté l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
    
    <br><br>
    <h2>Edition du site</h2>
    <p>Le présent site, accessible à l’URL https://nutri-sante-c4be9e899b25.herokuapp.com/ (le « Site »), est édité par :</p>
    <p>Sandrine Coupart, résidant 2 rue de l'échappée 75010 PARIS, de nationalité Française (France), né(e) le 04/08/1995, </p>
    
    <br><br>
    <h2>Hébergement</h2>
    <p>Le Site est hébergé par la société Heroku, situé 2 rue de l'échappée 75010 PARIS., (contact téléphonique ou email : +33100000001).</p>
    
    <br><br>
    <h2>Directeur de publication</h2>
    <p>Le Directeur de la publication du Site est Sandrine Coupart.</p>
    
    <br><br>
    <h2>Nous contacter </h2>
    <p>Par téléphone : +33100000001</p>
    <p>Par email : sandrine.coupart@email.com</p>
    <p>Par courrier : 2 rue de l'échappée 75010 PARIS</p>

    <br><br>
    <h2>Données personnelles </h2>
    <p>Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des <br>
    Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>

    <br><br>
    <p>Génération des mentions légales par Legalstart.</p>
  </div>
    {% block footer %}
        {% include "partials/_footer.html.twig" %}
    {% endblock %}

{% endblock %}