
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
{% if not users is same as([]) %}
{% for users in users %}
    <tr>
      <th scope="row">{{users.name}}</th>
      <td>{{users.lastname}}</td>
      <td id="table-btn"><button id="userClass" value={{users.id}}>consulter</button></td>
    </tr>
{% endfor %}
{% else %}
    <tr>
      <th> Aucun utilisateur enregistré. </th>
      <td></td>
      <td></td>
      <td></td>
    </tr> 
{% endif %} 
  </tbody>
</table>