<div class="admin_nav">
    <button value={{ 'gestion' }} ><h2>GESTION</h2></button>
    <button value={{ 'messages' }} ><h2>MESSAGES</h2></button>
    <input id="pageValue" type="hidden" value={{ 1 }}></input>
</div>