{% set queryParams = app.request.query.all %}
{% set totalPage = ((totalUsers / usersLimit)|round(0, 'ceil')) %}


  <div class="cabinet_table_content">
    {% include "partials/cabinet/_cabinet_table.html.twig" %}
  </div>


<div class="users_table">
<div class="table_header">
  {# Pagination des utilisateurs #}
  <div class="pagination">
    <button id="usersPrev" disabled>Prev</button>
      <input id="users_pages" value="{{1}}" disabled>
      <p>/</p>
      <input id="users_totalPages" value="{{(totalUsers / usersLimit)|round(0, 'ceil')}}" disabled>
      <p>page(s)</p>
    <button id="usersNext" >Next</button>
  </div>
  
  {# Ajout d'un utilisateur #}
  <div class="new_btn">
    <button id="new_user">Nouveau patient</button>
  </div>
</div>
<div class="table_title"><h2>Tableau des patients</h2></div>
<div class="users_table_content">
    {% include "partials/users/_users_table.html.twig" %}
</div>
</div>

<div class="recipes_table">
<div class="table_header">
<div class="pagination">
  {# Pagination des recettes #}
  <button id="recipesPrev" disabled>Prev</button>
    <input id="recipes_pages" value="{{1}}" disabled>
    <p>/</p>
    <input id="recipes_totalPages" value="{{(totalRecipes / recipesLimit)|round(0, 'ceil')}}" disabled>
    <p>page(s)</p>
  <button id="recipesNext" >Next</button>
</div>
<div class="new_btn">
  {# Ajout d'un utilisateur #}
  <button id="new_recipes">Nouvelle recette</button>
</div>
</div>
<div class="table_title"><h2>Tableau des recettes</h2></div>
<div class="recipes_table_content">
    {% include "partials/recipes/_recipes_table.html.twig" %}
</div>
</div>

<div class="services_table">
<div class="table_header">
<div class="pagination">
  {# Pagination des services #}
  <button id="servicesPrev" disabled>Prev</button>
    <input id="services_pages" value="{{1}}" disabled>
    <p>/</p>
    <input id="services_totalPages" value="{{(totalservices / servicesLimit)|round(0, 'ceil')}}" disabled>
    <p>page(s)</p>
  <button id="servicesNext" >Next</button>
</div>
<div class="new_btn">
  {# Ajout d'un service #}
  <button id="new_service">Nouveau service</button>
</div>
</div>
<div class="table_title"><h2>Tableau des services</h2></div>
<div class="services_table_content">
    {% include "partials/services/_services_table.html.twig" %}
</div>
</div>