
<div class="messages_table">
<div class="table_header">
<div class="pagination">
  {# Pagination des utilisateurs #}
    <button id="messagesPrev" disabled>Prev</button>
      <input id="messages_pages" value="{{1}}" disabled>
      <p>/</p>
      <input id="messages_totalPages" value="{{(totalmessages / messagesLimit)|round(0, 'ceil')}}" disabled>
      <p>page(s)</p>
    <button id="messagesNext" >Next</button>
</div>
</div>

<div class="messages_table_content">
    {% include "partials/messages/_messages_table.html.twig" %}
</div>
</div>
