
<h1>MESSAGES</h1>
<div class="messages_table">
<div class="table_header">
<div class="pagination">
  {# Pagination des utilisateurs #}
  <button id="messagesPrev" >Prev</button>
  {% for pageItem in 1..(((totalmessages / messagesLimit)|round(0, 'ceil'))) %}
    <button id="messagesPageItem" value="{{pageItem}}" >{{pageItem}}</button>
  {% endfor %}
  <button id="messagesNext" >Next</button>
</div>
</div>

<div class="messages_table_content">
    {% include "partials/messages/_messages_table.html.twig" %}
</div>
</div>
