<div class="home_nav">
    <button value={{ 'recipe' }} >LES RECETTES</button>
    <button value={{ 'service' }} >NOS SERVICES</button>
    <button value={{ 'info' }} >A PROPOS</button>
    <input id="pageValue" type="hidden" value={{ 1 }}></input>
</div>