<div class="home_nav">
    <button value={{ 'recipe' }} ><h2>LES RECETTES</h2></button>
    <button value={{ 'service' }} ><h2>NOS SERVICES</h2></button>
    <button value={{ 'info' }} ><h2>A PROPOS</h2></button>
    <input id="pageValue" type="hidden" value={{ 1 }}></input>
</div>