<div class="home_nav">
    <button value={{ 1 }} >LES RECETTES</button>
    <button value={{ 2 }} >NOS SERVICES</button>
    <button value={{ 3 }} >A PROPOS</button>
    <input id="pageValue" type="hidden" value={{ 1 }}></input>
</div>